<link rel="stylesheet" href="/assets/css/all.css">
<link rel="stylesheet" href="./header.css">
<div class="header-wrapper">
    <div class="header-menu">
        <ul>
            <li class="item">
                <a href="#">Home</a>
            </li>
            <li class="item">
                <a href="#">Shop</a>
                <div class="sub-menu">
                    <div class="sub-item">
                        
                    </div>
                </div>
            </li>
            <li class="item"><a href="#">Pages</a></li>
            <li class="item"><a href="#">Blog</a></li>
        </ul>
    </div>
    <div class="header-menu-2">
        <div class="item account-wrapper">
            <a href="#">Sign in</a> or <a href="#">Register</a> 
        </div>
        <div class="item currency-wrapper">
            <a href="#">$ US Dollars</a> <i class="fas fa-angle-down"></i>
        </div>
    </div>
</div>