body {
    font-family: Arial, sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #05f;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
}

.header-wrapper > div {
    flex-grow: 1;
    border: 1px solid #333;
}

.flex-grow-2 {
    flex-grow: 2;
}