<link rel="stylesheet" href="/assets/css/all.css">
<link rel="stylesheet" href="./header.css">
<div class="header-wrapper">
    <div class="header-logo">
        <a href="#"><img src="/assets/images/Logo_145x.webp" alt="logo"></a>
    </div>
    <div class="header-desc flex-grow-4">
        <p class="title">Call Us: +777 2345 7885</p>
        <p>From 8:00 to 21:00 (Mon-Sun) Free by United States</p>
    </div>
    <div class="header-compare" title="Compare">
        <a href="#">
            <i class="fas fa-balance-scale"></i>
            <p class="text">Compare</p>
        </a>
    </div>
    <div class="header-wishlist" title="Wishlist">
        <a href="#">
            <i class="fas fa-heart"></i>
            <p class="text">Wishlist</p>
        </a>
    </div>
    <div class="header-cart" title="My cart">
        <a href="#">
            <i class="fas fa-shopping-cart"></i>
            <p class="text">My cart</p>
        </a>
    </div>
</div>