
.header-wrapper {
    display: none;
    flex-direction: row;
    height: 60px;
    font-size: 0.9rem;
}

.header-wrapper > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper > div p {
    margin: 0;
}

.header-wrapper > div .text {
    margin-left: 0.5rem;
}

.header-wrapper > div a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.header-wrapper > div .icon {
    color: #2879fe;
}

.header-wrapper > div .icon path {
    fill: #2879fe;
}

.header-wrapper > div a:hover {
    color: inherit;
}

.header-wrapper > div a:hover .icon{
    color: #333;
}

.header-wrapper > div a:hover .icon path{
    fill: #333;
}

.header-wrapper > div i {
    font-size: 32px;
}

.header-wrapper > .header-logo{
    justify-content: start;
}
.header-wrapper > .header-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.header-desc > .title {
    font-weight: 700;
    font-size: large;
}

