<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="./footer.css">
<footer>
  <div class="container footer-top">
      <div class="row footer-wrapper">
          <div class="col-6 col-md-3">
              <div class="title">
                  Categories
              </div>
              <ul>
                  <li><a class="footer-text" href="#">Women</a></li>
                  <li><a class="footer-text" href="#">Men</a></li>
                  <li><a class="footer-text" href="#">Accessories</a></li>
                  <li><a class="footer-text" href="#">Shoes</a></li>
                  <li><a class="footer-text" href="#">New Arrivals</a></li>
                  <li><a class="footer-text" href="#">Clearence</a></li>
              </ul>
          </div>
          <div class="col-6 col-md-3">
              <div class="title">
                  Buy with us
              </div>
              <ul>
                  <li><a class="footer-text" href="#">About us</a></li>
                  <li><a class="footer-text" href="#">Services</a></li>
                  <li><a class="footer-text" href="#">Contact US</a></li>
                  <li><a class="footer-text" href="#">FAQs</a></li>
                  <li><a class="footer-text" href="#">Privacy Policy</a></li>
                  <li><a class="footer-text" href="#">Cookie Policy</a></li>
                  <li><a class="footer-text" href="#">Terms and Conditions</a></li>
              </ul>
          </div>
          <div class="col-6 col-md-3">
              <div class="title">
                  Contacts
              </div>
              <ul>
                  <li>Address: <span class="footer-text">7895 Piermont Dr NE Albuquerque, NM 198866, United States of America</span></li>
                  <li>Phone: <span class="footer-text">+566 4774 9930; +566 4774 9940</span></li>
                  <li>Hours: <span class="footer-text">ALL WEEK FROM 9 AM TO 9 PM</span></li>
                  <li>E-mail: <a class="footer-email" href="mailto:info@mydomain.com">info@mydomain.com</a></li>
              </ul>
          </div>
          <div class="col-6 col-md-3">
              <div class="title">
                  NEWSLETTER SIGNUP
              </div>
              <div class="footer-text">
                  Sign up for our e-mail and be the first who know our special offers! Furthermore, we will give a 15% discount on the next order after you sign up.
              </div>
              <form class="signup-wrapper" action="#">
                  <input type="text" placeholder="Enter your e-mail">
                  <button type="submit">GET!</button>
              </form>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="content">
                      © Wokiee 2020. All Rights Reserved
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>