body {
    font-family: Arial, sans-serif;
    margin: 0;
}
* {
    box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #07f;
}

.banner-wrapper {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 436px;
    overflow: hidden;
}

.banner-wrapper img {
    width: 100%;
    height: auto;
}

.cus-col-8 {
    flex: 0 0 66.66%;
    padding: 0 10px;
}

.cus-col-4 {
    flex: 0 0 33.34%;
    padding: 0 10px;
}

.banner-frame {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.banner-frame .banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    padding: 5.5rem;
}

.banner-frame .overlay-t2 {
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.caption-t1 {
    color: #333;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.caption-t2 {
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.btn-t1 {
    color: #fff;
    background: #2879fe;
    border-radius: 6px;
    display: inline-block;
    padding: 0.6em 1.2em;
    margin-top: 1em;
    transition: all 0.2s;
    font-size: 0.8em;
}

.btn-t1:hover {
    color: #fff;
    background: #2267d8;
}

.btn-t2 {
    color: #333;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 6px;
    display: inline-block;
    padding: 2rem;
    margin-top: 1em;
    transition: all 0.2s;
    font-size: 0.8em;
}

.btn-t2 > .caption-t1 {
    font-size: 1em;
}

.btn-t2:hover {
    background: rgb(40, 121, 254, 0.8);
}

.btn-t2:hover div {
    color: #fff;
}