<link rel="stylesheet" href="./banner.css">
<div class="banner-wrapper">
    <div class="cus-col-8">
        <div class="banner-frame">
            <img src="/assets/images/lay20_03_x1024.webp" alt="">
            <div class="banner-overlay">
                <div class="caption-t1">Summer 2019</div>
                <div class="caption-t2">New arrivals</div>
                <a class="btn-t1" href="#">Discover now</a>
            </div>
        </div>
    </div>
    <div class="cus-col-4">
        <div class="banner-frame">
            <a href="#">
                <img src="/assets/images/lay20_04_1024x.webp" alt="">
                <div class="banner-overlay overlay-t2">
                    <div class="btn-t2">
                        <div class="caption-t1">Top view in this week</div>
                        <div class="caption-t2">Trending</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>