<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/all.css">
<link rel="stylesheet" href="./product-item.css">

<div class="container">
    <div class="row">
        <div class="col-3 product-item-wrapper">
            <a href="#" class="product-img-box roll-over">
                <img class="img-1st" src="/assets/images/Ocean-Wash_Linen_Sport_Shirt_bf3d7287-c8bf-458e-bd19-8d583a4760d6_600x.jpg" alt="">
                <img class="img-2nd" src="/assets/images/Ocean-Wash_Linen_Sport_Shirt_3_e536dfd1-66c0-4690-9b4d-44bdd8c02d88_600x.jpg" alt="">
            </a>
            <div class="product-content">
                <div class="product-content-box">
                    <div class="brand-and-rating">
                        <div class="brand">
                            zara
                        </div>
                        <div class="rating">
                            <span>&#9734</span>
                            <span class="active">&#9734</span>
                            <span>&#9734</span>
                            <span>&#9734</span>
                            <span>&#9734</span>
                        </div>
                    </div>
                    <div class="title">
                        <a href="#">Tailored Fit Mesh-Panel Polo</a>
                    </div>
                    <div class="price sale">
                        <span class="sale-price">$400.00</span> 
                        <span class="cost-price">$460.00</span>
                    </div>
                    <div class="action">
                        <button class="add-to-cart btn btn-primary">
                            <i class="fas fa-cart-plus"></i>
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="status">
                <span class="label sale-label">Sale 13%</span>
            </div>
            <a href="#" class="add-wishlist">
                <i class="fas fa-heart"></i>
            </a>
        </div>
    </div>
</div>