<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="./featured-categories.css">

<div class="container">
    <div class="row featured-categories">
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner" href="#">
                <img src="/assets/images/lay20_10_x80.webp" alt="">
                <div class="overlay">
                    Woman
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner black" href="#">
                <img src="/assets/images/lay20_11_x80.webp" alt="">
                <div class="overlay">
                    Men
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner" href="#">
                <img src="/assets/images/lay20_12_x80.webp" alt="">
                <div class="overlay">
                    Accessories
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner black" href="#">
                <img src="/assets/images/lay20_13_x80.webp" alt="">
                <div class="overlay">
                    Shoes
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner" href="#">
                <img src="/assets/images/lay20_14_x80.webp" alt="">
                <div class="overlay">
                    New Arrivals
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner" href="#">
                <img src="/assets/images/lay20_15_x80.webp" alt="">
                <div class="overlay">
                    Clearence
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner" href="#">
                <img src="/assets/images/lay20_16_x80.webp" alt="">
                <div class="overlay">
                    Tops
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner" href="#">
                <img src="/assets/images/lay20_17_x80.webp" alt="">
                <div class="overlay">
                    Bottoms
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner" href="#">
                <img src="/assets/images/lay20_18_x80.webp" alt="">
                <div class="overlay">
                    Jeans
                </div>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-cus-5">
            <a class="banner" href="#">
                <img src="/assets/images/lay20_19_x80.webp" alt="">
                <div class="overlay">
                    Cools
                </div>
            </a>
        </div>
    </div>
</div>