<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/assets/css/all.css">
<link rel="stylesheet" href="./index-slider-section.css">

<div class="container">
    <div class="row index-slider-section">
        <div class="col-sm-4 col-cus-2 categories-nvarbar">
            <div class="nvarbar-box">
                <img src="/assets/images/lay20_06_1024x.webp" alt="">
                <div class="overlay">
                    <p class="caption-t1">Women's</p>
                    <p class="caption-t2">Women</p>
                    <ul>
                        <li class="active"><a href="#">Demi Collection</a></li>
                        <li ><a href="#">Party Collection</a></li>
                        <li ><a href="#">Neon Vibes</a></li>
                        <li ><a href="#">Pop Culture</a></li>
                        <li ><a href="#">Life Collection</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-cus-10">
            <div class="index-slider">
                <div class="owl-carousel owl-theme">
                    <div class="item"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
                <div class="customNextBtn">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="customPrevBtn">
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/owl.carousel.js"></script>

<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop: true,
            nav: false,
            dots: false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })
    })
    $('.customNextBtn').click(function() {
        owl.trigger('next.owl.carousel');
    })
    $('.customPrevBtn').click(function() {
        owl.trigger('prev.owl.carousel');
    })
</script>