.service-list-wrapper {
    color: #333;
}

.service-list-wrapper a {
    display: flex;
    flex-direction: row;
}

.service-list-wrapper i {
    color: #07f;
    font-size: 40px;
}

.service-list-wrapper .service-box {
    padding-left: 15px;
}

.service-list-wrapper .service-box .title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2px;
}

.service-list-wrapper .service-box .desc {
    color: #777777;
    font-size: 0.8rem;
    margin: 0;
}

.service-list-wrapper a:hover i {
    color: #07f;
}

