body {
    font-family: Arial, sans-serif;
    margin: 8px;
}
* {
    box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: #07f;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    border-top-width: 0;
    border-radius: 0 0 0.3em 0.3rem;
    flex-grow: 1;
}

.nav-wrapper .menu-item {
    display: flex;
    position: relative;
}

.nav-wrapper .menu-item:hover .sub-menu-wrapper {
    display: block;
    transform: translate(0);
}

.nav-wrapper > .menu-item > a {
    padding: 0.8rem 1rem;
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-wrapper > .menu-item > a > span {
    margin-left: 0.5rem;
}

.nav-wrapper > .menu-item i {
    color: #999;
}

.nav-wrapper > .menu-item svg {
    width: 1rem;
    fill: #999; 
}

.menu-title {
    height: 48px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: #07f;
    color: #fff;
    font-weight: 700;
    padding: 0 1rem;
    border-radius: 0.3em 0.3em 0 0;
}

.sub-menu-wrapper {
    width: 662px;
    z-index: 999;
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 0.9rem;
    margin-left: 0.3rem;
    transform: translate(1.5rem);
    transition: transform 0.2s;
    display: none;
    z-index: 999;
    background: #fff;
}

.sub-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 1.5rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.08);
    -moz-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.08);
    box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.08);
}

.sub-col {
    flex-grow: 1;
    padding: 1rem;
}

.sub-row {
    padding: 0 1rem;
    grid-column: 1/ span 3;
}

.sub-row .banner {
    position: relative;
}

.sub-row .banner img {
    width: 100%;
    height: auto;
}

.sub-row .banner .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
}

.banner .overlay p {
    text-transform: uppercase;
    margin: 0 0 0.2rem;
}

.banner:hover {
    color: #333;
}

.banner .overlay .text-1 {
    font-size: 1rem;
}

.banner .overlay .text-2 {
    font-size: 1.5rem;
}

.sub-menu-title {
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.sub-menu-title > img {
    width: 100%;
    height: auto;
    margin: 0.8rem 0 0.5rem;
}

.sub-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.sub-menu ul > li {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.menu-item:not(:last-child) > a::before {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    position: absolute;
    width: calc(100% - 2em);
    height: 1px;
    background-color: #e9e7e7;
}

.h-sub-menu > a::after {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    font-weight:900;
    right: 1rem;
    top: 1rem;
    color: #999999;
}

.label {
    padding: 0.1em 0.3rem;
    line-height: 1;
    font-weight: 400;
    border-radius: 0.1rem;
    color: #fff;
}

.new-label {
    background-color: #03a9f5;
}

.feature-label {
    background-color: #fdbc20;
}

.sale-label {
    background-color: #f8353e;
}

.blue-color {
    color: #2879fe;
}