<link rel="stylesheet" href="./menu.css">
<link rel="stylesheet" href="/assets/css/all.css">
<div class="menu-wrapper">
    <div class="menu-title">
        <span>Categories</span>
    </div>
    <div class="nav-wrapper">
        <div class="menu-item h-sub-menu">
            <a href="#">
                <i class="fas fa-venus"></i>
                <span>Woman</span>
            </a>
        </div>
        <div class="menu-item h-sub-menu">
            <a href="#">
                <i class="fas fa-mars"></i>
                <span>Men</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="#">
                <i class="fas fa-shopping-bag"></i>
                <span>Accessories</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="#">
                <img class="icon" src="/assets/images/shoes.svg" alt="">
                <span>Shoes</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="#">
                
                <span>New Arrivals</span>
            </a>
        </div>
    </div>
</div>